
@(Html.Kendo().Grid<VSCore.Entity.CategoryBusness>()
      .Name("grid")
      .Columns(columns =>
      {
        columns.Bound(c => c.Logo);
        columns.Bound(c => c.Name).Title("NAME UA");
        columns.Bound(c => c.NameEn).Title("NAME EN");
        columns.Bound(c => c.Meta1).Visible(false);
        columns.Bound(c => c.Meta2).Visible(false);
        columns.Bound(c => c.Meta3).Visible(false);
        columns.Command(command => { command.Edit(); }).Width(180);
      })
      .ToolBar(toolbar => {
            toolbar.Create();
      })
      .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CatEdit"))
      .Pageable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.IdCategory))
          .Read(read => read.Action("CategoryBusnesses_Read", "Category"))
          .Create(create => create.Action("CategoryBusnesses_Create", "Category"))
          .Update(update => update.Action("CategoryBusnesses_Update", "Category"))
      )
      )

<script>
    function onSuccess(e) {
        alert(e.response.fileName);
        $("#fileNameFull").val(e.response.fileName);
        if (e.operation == "upload") {
            for (var i = 0; i < e.files.length; i++) {
                var file = e.files[i].rawFile;

                if (file) {
                    var reader = new FileReader();

                    reader.onloadend = function() {
                        $("<div class='product'><img src=" + this.result + " /></div>").appendTo($("#products"));
                    };

                    reader.readAsDataURL(file);
                }
            }
        }
        if (e.operation == "remove") {}
    }
</script>
