@{
    ViewBag.Title = "Категорії бізнесу";
}

<h1>Категорії бізнесу</h1>
@(Html.Kendo().Grid<VSCore.Entity.CategoryBusness>()
      .Name("grid")
      .HtmlAttributes(new { style = "height: calc(100vh - 30px)" })
      .Columns(columns =>
      {
          columns.Bound(c => c.Logo).ClientTemplate("<img src='" + Url.Content("~/Images/Category/") + "#:data.Logo#' alt='#: data.Name #' height='62' width='auto'/>").Title("Лого");
          columns.Bound(c => c.Name).Title("Назва українською");
          columns.Bound(c => c.NameEn).Title("Назва англійскою");
          columns.Command(command => { command.Edit().Text("Редагувати"); }).Width(180).Title("ДІЇ");
      })
      .ToolBar(toolbar => {
          toolbar.Create().Text("Додати категорію");
      })
      .ClientDetailTemplateId("template")
      .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CatEdit"))
      .Pageable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Model(model => model.Id(p => p.IdCategory))
          .Read(read => read.Action("CategoryBusnesses_Read", "Category"))
          .Create(create => create.Action("CategoryBusnesses_Create", "Category"))
          .Update(update => update.Action("CategoryBusnesses_Update", "Category"))
      )
      )

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<VSSite.Controllers.HierarchyModel>()
          .Name("grid_#=IdCategory#")
          .Columns(col =>
          {
              col.Bound(c => c.BMainName).Title("Название");
              col.Bound(c => c.BPhone1).Title("Телефон");
              col.Bound(c => c.BEmail).Title("Email");
              col.Bound(c => c.BCity).Title("Город");
              col.Bound(c => c.BDate).Format("{0: dd-MM-yyyy HH:mm}").Title("Дата регистрации");
          })
          .DataSource(ds=>ds
              .Ajax()
              .PageSize(5)
              .Sort(sort=>sort.Add("BDateAdd").Descending())
              .Read(read=>read.Action("HierarchyBinding_Buisnes","Category",new {catId= "#=IdCategory#" })))
              .Pageable()
          .Sortable()
          .ToClientTemplate())

</script>

    <script>
        function onSuccess(e) {
            $("#Logo").val(e.response.fileName).trigger("change");
            if (e.operation == "upload") {
                for (var i = 0; i < e.files.length; i++) {
                    var file = e.files[i].rawFile;

                    if (file) {
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            $("<div class='product'><img src=" + this.result + " /></div>").appendTo($("#products"));
                        };

                        reader.readAsDataURL(file);
                    }
                }
            }
            if (e.operation == "remove") { }
        }
    </script>
