
@{
    ViewBag.Title = "Бізнеси";
}
<h2>Бізнеси</h2>
<input type="hidden" id="idToDel" value=""/>

@(Html.Kendo().Grid<VSCore.Entity.Business>()
      .Name("grid")
      .HtmlAttributes(new { style = "height: calc(100vh - 30px)" })
      .Columns(columns =>
      {
          columns.Bound(c => c.Logo).ClientTemplate("<img src='" + Url.Content("~/Images/Logo/") + "#:data.Logo#' alt='#: data.MainName #' height='62' width='auto'/>").Title("ЛОГО");
          columns.Bound(c => c.MainName).Title("НАЗВА");
          columns.Bound(c => c.Email).Title("EMAIL");
          columns.Bound(c => c.City).Title("МІСТО");
          columns.Bound(c => c.Phone1).Visible(false);
          columns.Bound(c => c.DateAdd).Format("{0: dd-MM-yyyy HH:mm}").Title("ДАТА СТВОРЕННЯ");
          columns.Command(com =>
          {
              com.Custom("Edit").Click("openToEdit").Text("<span class='k-icon k-i-edit'></span>Редагувати");
              com.Custom("Delete").Click("openToDelete").Text("<span class='k-icon k-i-close-circle'></span>Видалити");
          }).Width(300);
      })
      .ToolBar(tb =>
      {
      tb.Template(@<text>
                          <div class="refreshBtnContainer">
                              <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh" id="refreshPage"><span class="k-icon k-i-reload"></span></a>
                          </div>
                          <div class="refreshBtnContainer">
                              <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Add" id="addNew"><span class="k-icon k-i-file-add"></span></a>
                          </div>
                       </text>);
      })
      .ClientDetailTemplateId("template")
      .Pageable()
      .Scrollable()
      .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Model(model => model.Id(p => p.BusinessId))
              .Read(read => read.Action("Busnesses_Read", "Business"))
      ))


<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<VSSite.Controllers.HierarchyModelBuisnes>()
          .Name("grid_#=BusinessId#")
          .Columns(col =>
          {
              col.Bound(c => c.BMainName).Title("Назва");
              col.Bound(c => c.BPhone1).Title("Телефон");
              col.Bound(c => c.BEmail).Title("Email");
              col.Bound(c => c.BCity).Title("Місто");
              col.Bound(c => c.BDateAdd).Format("{0: dd-MM-yyyy HH:mm}").Title("Дата створення");
          })
          .DataSource(ds => ds
              .Ajax()
              .PageSize(5)
              .Read(read => read.Action("HierarchyBinding_Branch", "Business", new { buiId = "#=BusinessId#" })))
          .Pageable()
          .Sortable()
          .ToClientTemplate())

</script>
@(Html.Kendo().Dialog()
      .Name("confirm")
      .Visible(false)
      .Title("Видалення бізнесу")
      .Content("<p>Бажаєте видалити цей бізнес</p>")
      .Width(300)
      .Modal(true)
      .Actions(act =>
      {
          act.Add().Text("Відміна").Primary(true);
          act.Add().Text("Видалити").Action("onOK");
      })
      )
<script>
    $(function() {
        var grid = $("#grid");
        grid.find(".k-grid-toolbar").on("click",
            "#refreshPage",
            function(e) {
                e.preventDefault();
                grid.data("kendoGrid").dataSource.read();
            });
        grid.find(".k-grid-toolbar").on("click",
            "#addNew",
            function() {
                window.open(
                    '/Business/AddNew',
                    '_blank' // <- This is what makes it open in a new window.
                );
            });

    });

    function openToDelete(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr"); // get the current table row (tr)
        // get the data bound to the current table row
        var data = this.dataItem(tr);
        $("#idToDel").val(data.BusinessId);
        var dialog = $("#confirm");
        dialog.data("kendoDialog").open();
    }

    function onOK() {
        var a = { id: $("#idToDel").val() };
        $.ajax({
            type: "POST",
            url: "/Business/Delete",
            data: a,
            success: function() {
                location.reload();
            }
        });
    }
    function openToEdit(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        window.open(
            '/Business/Edit/' + data.BusinessId,
            '_blank' // <- This is what makes it open in a new window.
        );
    }
</script>
<style>
    #grid .k-grid-toolbar
    {
        padding: .6em 1.3em .6em .4em;
    }
    .category-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #category
    {
        vertical-align: middle;
    }
    .refreshBtnContainer {
        display: inline-block;
    }
    .toolbar {
        float: right;
    }
</style>

