
@{
    ViewBag.Title = "Корисно";
}

<h2>Корисно</h2>
<input type="hidden" id="idToDel" value="" />

@(Html.Kendo().Grid<VSCore.Entity.Useful>()
      .Name("grid")
      .HtmlAttributes(new { style = "height: calc(100vh - 30px)" })
      .Columns(columns =>
      {
          columns.Bound(c => c.Logo).ClientTemplate("<img src='" + Url.Content("~/Images/Logo/") + "#:data.Logo#' alt='#: data.Title #' height='62' width='auto'/>").Title("ЛОГО");
          columns.Bound(c => c.Title).Title("НАЗВА");
          columns.Bound(c => c.Email).Title("EMAIL");
          columns.Bound(c => c.City).Title("МІСТО");
          columns.Bound(c => c.Phone1).Title("ТЕЛЕФОН");
          columns.Bound(c => c.UsefulRubrics).Title("РУБРИКА");
          columns.Bound(c => c.DateAdd).Format("{0: dd-MM-yyyy HH:mm}").Title("ДАТА СТВОРЕННЯ");
          columns.Command(command =>
          {
              command.Custom("Edit").Click("openToEdit").Text("<span class='k-icon k-i-edit'></span>Редагувати");
              command.Custom("Delete").Click("openToDelete").Text("<span class='k-icon k-i-close-circle'></span>Видалити");
          });
      })
      .ToolBar(tb =>
      {
          tb.Template(@<text>
                          <div class="refreshBtnContainer">
                              <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh" id="refreshPage"><span class="k-icon k-i-reload"></span></a>
                          </div>
                          <div class="refreshBtnContainer">
                              <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Add" id="addNew"><span class="k-icon k-i-file-add"></span></a>
                          </div>
                       </text>);
      })
      .Pageable()
      .Scrollable()
      .DataSource(dataSource => dataSource
                        .Ajax()
          .Sort(sort=>sort.Add("DateAdd").Descending())
                        .PageSize(20)
                        .Model(model => model.Id(p => p.UsefulId))
                        .Read(read => read.Action("Useful_Read", "Useful"))
      ))



@(Html.Kendo().Dialog()
          .Name("confirm")
          .Visible(false)
          .Title("Видалення")
          .Content("<p>Бажаєте видалити?</p>")
          .Width(300)
          .Modal(true)
          .Actions(act =>
          {
              act.Add().Text("Відміна").Primary(true);
              act.Add().Text("Видалити").Action("onOK");
          })
)
<script>
    $(function() {
        var grid = $("#grid");
        grid.find(".k-grid-toolbar").on("click",
            "#refreshPage",
            function(e) {
                e.preventDefault();
                grid.data("kendoGrid").dataSource.read();
            });
        grid.find(".k-grid-toolbar").on("click",
            "#addNew",
            function () {
                location.href = '/Useful/UsefulAddNew';
            });

    });

    function openToDelete(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr"); // get the current table row (tr)
        // get the data bound to the current table row
        var data = this.dataItem(tr);
        $("#idToDel").val(data.UsefulId);
        var dialog = $("#confirm");
        dialog.data("kendoDialog").open();
    }

    function onOK() {
        var a = { id: $("#idToDel").val() };
        $.ajax({
            type: "POST",
            url: "/Useful/Delete",
            data: a,
            success: function() {
                location.reload();
            }
        });
    }

    function openToEdit(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        location.href = '/Useful/EditUseful/' + data.UsefulId;
    }
</script>
<style>
    #grid .k-grid-toolbar {
        padding: .6em 1.3em .6em .4em;
    }

    .category-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #category {
        vertical-align: middle;
    }

    .refreshBtnContainer {
        display: inline-block;
    }

    .toolbar {
        float: right;
    }
</style>

