
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h1 class="main-section__header">Допомога бізнесу</h1>
<div id="helpContent"></div>


<script>
    
    $(document).ready(function () {
        selestPage(1);
    });

    function Seach() {
        selestPage(1);
    }
    function selestPage(i) {
        var a = {
            page: i
        };
        $.ajax({
            url: "/Home/HelpSort",
            type: "POST",
            data: a,
            success: function (data) {
                $("#helpContent").html(data);
            }
        });
    }


</script>
