@using VSSite.Resources

@{
    ViewBag.Title = Translator.vacancies;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="main-section__header">@Translator.vacancies</h1>
<div id="jobsContent"></div>
<script>
    $(document).ready(function () {
        selestPage(1);
    });

    function selestPage(i) {
        var a = {
            page: i
        };
        $.ajax({
            url: "/Home/JobsSort",
            type: "POST",
            data: a,
            success: function (data) {
                $("#jobsContent").html(data);
            }
        });
    }
</script>
