@using VSSite.Resources

@{
    ViewBag.Title = Translator.News;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="main-section__header">@Translator.News</h1>
<div id="newsContent"></div>
<script>
    $(document).ready(function () {
        selestPage(1);
    });

    function selestPage(i) {
        var a = {
            page: i
        };
        $.ajax({
            url: "/Home/NewsSort",
            type: "POST",
            data: a,
            success: function (data) {
                $("#newsContent").html(data);
            }
        });
    }
</script>

