
@{
    ViewBag.Title = "PostingOnSiteComplite";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="main-section__header">Дякуемо! Надіслана вами інформація буде розглянута, та опублікована на сайті.</h1>
<h1 class="main-section__header">В разі необхідності, ми вам зателефонуемо, для уточнення шнформаціі.</h1>
